body {
padding-top: 6em;
    text-align: center;
    font-family: Chalkboard;
    font-size: 1em;
    color: black;
}
body a{
    color: black;
}
.navbarlight{
background: white;
 }
 .bodydark{
 background: white;
  }