{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}
    <title>Course</title>
{% endblock %}

{% block head %}
{% endblock %}

{% block content %}
    <h1 style="text-align: center">Course</h1>

    <table style="text-align: center">
    <tr>
        <td>Course: </td>
        <td>Duration: </td>
        <td>Difficulty: </td>
    </tr>
    <tr>
        <td>0</td>
        <td>0</td>
        <td>0</td>
    </tr>
    <tr>
        <td>1</td>
        <td>1</td>
        <td>1</td>
    </tr>
    <tr>
        <td>2</td>
        <td>2</td>
        <td>2</td>
    </tr>
    </table>
{% endblock%}