{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}
    <title>Course</title>
{% endblock %}

{% block head %}
{% endblock %}

{% block content %}

{% endblock%}

{% block scripts %}
    <script type="text/javascript" >
        $(document).ready(function() {
            console.log("ready");
            $("ul.course li a").click(function() {
                console.log("clicked");
                console.log(this);
                console.log($(this).sibling("ul"))
            });
        });
    </script>
{% endblock %}
