{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}
    <title>Home</title>
{% endblock %}

{% block head %}
{% endblock %}

{% block content %}
<ul class="course" style="text-align: left">
    {% for course in courses %}
        <li><a>{{course.title}}</a>
        <ul hidden>
        {% for section in sections %}
            <li><a>{{section.title}}</a></li>
        {% endfor %}
        </ul>
    {% endfor %}
</ul>
{% endblock%}

{% block scripts %}
    <script>
    $(document).ready( function() {
        $(".a").click( function(event) {
            event.preventDefault();
            console.log($(this).id);
        });
    });
    </script>
{% endblock %}
